.navbar {
    background: white;
}

.nav-link,
.navbar-brand {
    color: black;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}