.error-message{

  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  
}
.error-message h1{
  font-size: medium;
}
.login{
  font-size: larger;
}