<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/header") %>
    <script type="text/javascript" src="../infoMapScript.js"></script>
    <link rel="stylesheet" href="../stylesheets/allUsersMap.css">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <title>All Users - <%= uname %></title>
</head>

<body>
    <%- include ("../partials/nav_profile") %>

    <div id="map"></div>

    <script>

        const socket = io();

        socket.on('cunt', data => {
            console.log(JSON.parse(data));
        })

        function myMap() {

            var mapProp = {
                center: new google.maps.LatLng(51.508742, -0.120850),
                zoom: 3,
                styles:
                    [
                        {
                            "elementType": "labels",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative.country",
                            "elementType": "geometry.stroke",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "weight": 1.5
                                }
                            ]
                        },
                        {
                            "featureType": "administrative.land_parcel",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative.neighborhood",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "labels.icon",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "transit",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "labels",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        }
                    ]
            };

            var myLatlng = { lat: 44.723334, lng: -38.818859 };

            var map = new google.maps.Map(document.getElementById("map"), mapProp);

        }


    </script>

    <script src='<%= apiurl %>'></script>

</body>

</html>