<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../basicUserScript.js"></script>
    <link rel="stylesheet" href="../stylesheets/basicUser.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Ditu - <%= uname %></title>
</head>
<body>
    <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <img src="../image/defaultdp.png" width="50px" height="50px">
            <p id="Username"><%= uname %></p></br>
            <% if (user_access == 10) { %>
                <a href="/admin"><button class="options">Admin</button></a></br>
            <% } else if (user_access == 1) { %>
                <a href="/mod"><button class="options">Mod</button></a></br>
            <% } %>   
            <a href="#"><button class="options">My Profile</button></a></br>
            <a href="/info_map"><button class="options">Travel Info Map</button></a></br>
            <a href="#"><button class="options">My Travel</button></a></br>
            <a href="#"><button class="options">Friends</button></a></br>
            <a href="/logout"><button class="options">Log Out</button></a>
    </div>
    
    <button class="openbtn" onclick="openNav()">&#9776; Menu</button>
    <iframe src='https://api.mapbox.com/styles/v1/keitolee/ckc8n54gm12sr1ip8xlk5yv3q.html?fresh=true&title=false&access_token=pk.eyJ1Ijoia2VpdG9sZWUiLCJhIjoiY2tjOG0wbXhuMGN1ZTM0cGZ1d28zcWx6cyJ9.oSR2bnxW0qtkQ3YM8pBRZg' >
      
</body>
</html>