<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="basicUserScript.js"></script>
    <link rel="stylesheet" href="./stylesheets/basicUser.css">
    <title>Basic User</title>
</head>
<body>
    <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <img src="/image/defaultdp.png" width="50px" height="50px">
            <p id="Username">Username</p></br>
            <button class="options">My Profile</button></br>
            <button class="options">Travel Info Map</button></br>
            <button class="options">My Travel</button></br>
            <button class="options">Friends</button></br>
    </div>

    <iframe src='https://api.mapbox.com/styles/v1/keitolee/ckc8n54gm12sr1ip8xlk5yv3q.html?fresh=true&title=false&access_token=pk.eyJ1Ijoia2VpdG9sZWUiLCJhIjoiY2tjOG0wbXhuMGN1ZTM0cGZ1d28zcWx6cyJ9.oSR2bnxW0qtkQ3YM8pBRZg' />
      
    <button class="openbtn" onclick="openNav()">&#9776; Menu</button>
</body>
</html>