<!DOCTYPE html>
<html>
<head>
</head>

<body>
<h3>Add a friend by entering their email:</h3>
<form action="/friends/add/" method="post">
    <div class="addfriendbox">
      <input type="text" placeholder="Email" name="email" id="email" required>
    </div>
    <button class="btn" type="submit">Add Friend</button>
</form>

<h3>Your friends:</h3>
<ul>
  <table class="tbl">
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
   <% rows.forEach(function(r) { %>
      <tr>
        <td><%= r.name %></td>
        <td><%= r.email %></td>
        <td><form action="/friends/delete/<%=r.id%>" method="POST">
          <input type="submit" value="Delete">
        </td>
      </tr>
    <% }); %>
  </table>

</ul>
<a href="/friends/friendreqs/sent">Click here to view sent friend requests</a>
<br>
<a href="/friends/friendreqs/recieved">Click here to view recieved friend requests</a>
</body>
</html>
