<!DOCTYPE html>
<html>
<head>
    <%- include ("../partials/header") %>
</head>

<body>
    <h1>Ditu</h1>
    <div>
        <h4>If you would like to add a Person, please input their information in this form</h4>
        <form class="" action="/auth/signup" method="post">
          <input type="text" name="email" value="" placeholder="Email"> <br>
          <input type="text" name="password" value="" placeholder="Password"> <br>

          <input type="submit" value="Submit">
        </form>
      </div>
</body>
</html>