<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("../partials/header") %>
  <link rel="stylesheet" href="../stylesheets/homePage.css">

  <title>Ditu</title>
</head>

<body>
  <%- include ("../partials/nav") %>

  <header class="page-header header container-fluid">
    <div class="overlay"></div>
    <div class="descrip">
      <h1>Welcome to DITU</h1>
    </div>

  </header>

  <div class="container features">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h3 class="feature-title">Interactive Planning</h3>
        <a href="/map/info"><img src="./image/column1.jpg" class="img-fluid"></a>
        <p>View basic information about destinations at a glance. Simply click on a country of interest
            to learn about its capital city, population size, associated currency, and current risk level.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h3 class="feature-title">Social Platform</h3>
        <img src="./image/column2.jpeg" class="img-fluid">
        <p>Users will be able to create profiles that show a variety of information regarding their travel
          experiences such as the number of countries or continents visited and will be able to add other
          users as “friends” who will be able to see each other’s profiles.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h3 class="feature-title">Travel Advisories</h3>
        <a href="/destinations/advisories"><img src="./image/column3.jpg" class="img-fluid"></a>
        <p>Stay safe and prepared abroad. Know the current risk levels and the entry/exit requirements
          for destinations.</p>
      </div>
    </div>
  </div>

</body>
<script src="./scriptHomePage.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</html>