<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/modMail.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Ditu - Mod Mail</title>
</head>
<body class = "full">
    <div class="container">
        <h1>Moderator Inbox</h1>
        <div class="inbox">
            <table class="mail">
                <tr>
                    <th style="width: 100px">Author</th>
                    <th>Comment</th>
                    <th style="width: 150px">Flag</th>
                </tr>
                <tr>
                    <td>Jim</td>
                    <td>According to Trip Advisor, the B&B caters to the elderly.</td>
                    <td><span style="color:green">Off Topic</span></td>
                </tr>
                <tr>
                    <td>Dwight</td>
                    <td>King and Queen beds are unavailable because Schrute Farms makes their own mattresses that do not conform to modern mattress sizes.</td>
                    <td><span style="color:orangered">Banned</span></td>
                </tr>
                <tr>
                    <td>Kevin</td>
                    <td>Check out the tour of the slaughterhouse.</td>
                    <td><span style="color:darkred">Abuse Warning</span></td>
                </tr>
                <tr>
                    <td>Angela</td>
                    <td>Schrute Farms also hosts events such as weddings, birthdays, and garden parties. </td>
                    <td><span style="color:orangered">Banned</span></td>
                </tr>
                <tr>
                    <td>Kelly</td>
                    <td>Schrute Farms offers butter sculptures of either a cow, goat, or sheep, each made from the butter of that animal, for any event.</td>
                    <td><span style="color:purple">Spam Warning</span></td>
                </tr>
                <tr>
                    <td>Pam</td>
                    <td>You've got to check out the Irrigation Room.</td>
                    <td><span style="color:green">Off Topic</span></td>
                </tr> 
                <tr>
                    <td>Andy</td>
                    <td>Mose's Trampoline Tricks (Cannonball, Lemon Bomb, Go Yankees, I'm A War Hero, More Spins, Helicopter)</td>
                    <td><span style="color:grey">None</span></td>
                </tr>
            </table> 
        </div>
        <a href="/dashboard"><button class="back">Back</button></a>
    </div>
</body>
</html>