<!DOCTYPE html>
<html>
<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
table, th, td{
    border: 2px solid whitesmoke;
    border-collapse: collapse;
  }

</style>
</head>

<body>
<h3>My Reviews</h3>
<br>
<ul>
  <table class="tbl">
    <tr>
      <th>Review Title</th>
      <th>Location</th>
      <th>Description</th>
    </tr>
   <% rows.forEach(function(r) { %>
      <tr>
        <td><%= r.review_title %></td>
        <td><%= r.location %></td>
        <td><%= r.description %></td>
        <td><form action="/reviews/delete/<%=r.review_id%>" method="POST">
          <input type="submit" value="Delete">
          </form>
        </td>
      </tr>
    <% }); %>
  </table>

</ul>
<br>
<a href="/info_map">Click here to return to the map, where you can view all reviews or add your own!</a>
<br><br>
<a href="/dashboard">Click here to return to the Dashboard</a>
<br><br>
</body>
</html>
