<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <style media="screen">

        .drive{
          background: #325563;
        }

        .hd1{
          color: white;
          font-size: 2.5em;
        }

    </style>
  </head>
  <body class="drive">
    <div class="container">
        <h1 class="hd1">Success!</h1>
        <% results.forEach(function(r) { %>
            <p>'<%= r.name %>' has been deleted.</p>
        <% }); %>
        <form action="/admin" class="">
            <input type="submit" value="Return home"/>
        </form>
    </div>
  </body>
</html>
