<!DOCTYPE html>
<html>
<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
</style>
</head>

<body>
<h3>Add a friend!</h3>
<form action="/friends/add/" method="post">
    <div class="addfriendbox">
      <input type="text" placeholder="Email" name="email" id="email" required>
    </div>
    <button class="btn" type="submit">Add Friend</button>
</form>
<br>
<a href="/friends/friendreqs/sent">Click here to view sent friend requests</a>
<br><br>
<a href="/friends/friendreqs/recieved">Click here to view recieved friend requests</a>
<br><br>
<a href="/dashboard">Click here to return to the Dashboard</a>
</body>
</html>
