<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style media="screen">

        .drive{
          background: #325563;
        }

        .hd1{
          color: white;
          font-size: 2.5em;
        }

        #return{
        -webkit-appearance: button;
          -moz-appearance: button;
          appearance: button;

          text-decoration: none;
          color: initial;
          padding: 8px;
          background-color: #478C00;
          color: white;
          border: 1px solid black;
          border-radius: 5%;
          width: 100px;
          text-align: center;

      }

      .btn:hover{
        background-color: #83C500;
      }

      .part{
        background-color: white;
        height: 30px;
        width: 200px;
      }

      .ty{
        color: white;
        font-size: 1.3em;
      }

    </style>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class=drive>
    <div class="container">
      <% rows.forEach(function(r){ %>
        <h2 class="hd1"><%= r.name %>'s Data</h2>
        <form action="/profile_edit" method="">
            <label class="ty" for="id">ID</label><br>
            <input class="part" type="number" name="id" value = "<%= r.id %>" readonly><br><br>
            <label class="ty" for="name">Name</label><br>
            <input class="part" type="text" name="name" value="<%= r.name %>" readonly><br><br>
            <label class="ty" for="email" readonly>Email</label><br>
            <input class="part" type="text" name="email" value="<%= r.email %>" readonly><br><br>

            <label class="ty" for="access">Access Level</label><br>

            <select class="part" name="access">
                <% if(r.accesslevel == null) { %>
                    <option value="" selected disabled hidden readonly>No level Selected</option>
                <% } else if(r.accesslevel == '0') { %>
                    <option value="0" selected readonly>User</option>
                <% } else if(r.accesslevel == '10') { %>
                    <option value="10" selected readonly>Admin</option>
                <% } else if(r.accesslevel == '1'){ %>
                    <option value="1" selected readonly>Mod</option>
                <% } %>
            </select><br><br><br>
            <button id = "return" onclick="/profile_edit">Edit</button><br><br>
        </form>
            <button id="return" onclick="history.back()">Cancel</button>
      <% }); %>
    </div>
  </body>
</html>
