<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header") %>
  <link rel="stylesheet" href="../stylesheets/reviews.css">
</head>
<body>
  <%- include ("../partials/nav") %>
  <div class="container"><br>
<div>
<p id="header"><%=message%></p>
</div>
<br><br>
<a class="links" href="/reviews">Click here to view your reviews</a>
<br>
<a class="links" href="/info_map">Click here to return to the map, where you can view all reviews or add your own!</a>
<br>
<a class="links" href="/dashboard">Click here to return to the Dashboard</a>
<br>
</body>
</html>
