<!DOCTYPE html>
<html>
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    body {
        margin: 0;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
    </style>
</head>
<body>
<div>
<p><%=message%></p>
</div>
<br><br>
<a href="/reviews">Click here to view your reviews</a>
<br><br>
<a href="/info_map">Click here to return to the map, where you can view all reviews or add your own!</a>
<br><br>
<a href="/dashboard">Click here to return to the Dashboard</a>
</body>
</html>
